* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: system-ui, Arial;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 480px;
  margin: auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  background: #1e293b;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newBtn {
  margin: 10px;
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 12px;
  font-weight: bold;
}

.miniBtn {
  background: #334155;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 10px;
}

#chatList, #messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat {
  background: #1e293b;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 14px;
}

.me {
  align-self: flex-end;
  background: #22c55e;
  color: #022c22;
  padding: 10px;
  border-radius: 14px;
  max-width: 80%;
}

.them {
  align-self: flex-start;
  background: #334155;
  padding: 10px;
  border-radius: 14px;
  max-width: 80%;
}

.send {
  display: flex;
  padding: 10px;
  background: #020617;
}

.send input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.send button {
  margin-left: 6px;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  background: #22c55e;
  font-weight: bold;
}